body{
  margin:0px;
  font-family: Arial;
  background-color:white;
}
nav{
  background-color: #408fe4;
  padding:10px;
}
nav a{
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
nav button{
  background: none;
  border: none;
  color: white;
}
nav button:hover {
  text-decoration: underline;
}
.container{
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgb(208, 236, 244);
  border: 1px solid rgb(168, 191, 212);
  border-radius: 3px;
}
h2{
  text-align: center;
}
.error{
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  margin-bottom: 5px;
}
input{
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
}
button{
  padding: 10px;
  background-color: #408fe4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: darkblue;
}